﻿@model WebApplication1.Registered_Events

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Registered_Events</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.event_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.event_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.event_location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.event_location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.event_start_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.event_start_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reg_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reg_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.rg_event_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
