﻿@model IEnumerable<WebApplication1.Registered_Events>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.event_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.event_location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.event_start_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reg_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.event_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.event_location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.event_start_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reg_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.rg_event_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.rg_event_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.rg_event_id })
        </td>
    </tr>
}

</table>
