.square_box_gray span.arrow{
    color:#FFFFFF;
    font-size:16px;
    left:6px;
    position:absolute;
    top:1px;
}

.half_white_box .arrow, .white_box .arrow {
    color:#FFFFFF;
    font-size:16px;
    left:6px;
    position:absolute;
    top:3px;
}

a.ox-regioneditbutton img{
    width:auto !important;
    height:auto !important;
}

.nav_arrow {
    right: 17px;
}

#lastactive > a {
	font-color: #111 !important;
}

/* Flex slider 6/13/14 */
#contribute_content .flexslider ul, .flexslider ul, 
#contribute_content ul.thumbnails, ul.thumbnails{
 list-style-type: none; 
}
#contribute_content .flexslider ul.slides li {
	margin: 0;
}
.page_body .flexslider p{
    color: #fff;
}
