﻿@{
    ViewBag.Title = "Admin";
}
  



<head>
    <link rel="stylesheet" type="text/css" href="site.css">
    <link rel="stylesheet" type="text/css" href="~/StyleSheet1.css">
</head>





<div class="jumbotron">

    <h1>Welcome to the Admin portal!</h1>
    <p class="lead">Below are options to easily add users and add events to the Mane Experience! Remember: As you proceed, you are the link to freshman's students first
    experiences at Southeastern.  Take the time and effort to provide details to them that are accurate and descriptive.  The details in this outreach to them could make 
    the difference in their success or failure here.  </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
}>
        <h2>Create a new User</h2>
        <p>
           Click on the link below to enter new users for the system.
        </p>
        <p><a class="btn btn-default" href="http://localhost:55413/users">New User &raquo;</a></p>
    </div>
    <div class="col-md-4" >
        <h2>Current Event Calendar</h2>
        <p>Click here to get a Current Event Calendar</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Event Calendar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create Events</h2>
        <p>Create an new event in the calendar</p>
        <p><a class="btn btn-default" href="http://localhost:55413/EVENTs/Create">Add Event &raquo;</a></p>
    </div>
</div>