﻿@model WebApplication1.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.e_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.e_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password_Hash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password_Hash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.event_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.event_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Registered_Events.event_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Registered_Events.event_description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.user_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
